---
layout: default
home: true
---

<b>찬찬의 <font color="#F15F5F">아기천사</font color> 자료 쌓아두는 곳. 
</br><font color="#36B8CF">Archive</font color></b>는 날짜별 목록, <b><font color="#36B8CF">Tags</font color></b>는 태그별 목록.
</br>검색창은 작동이 안 돼요.</br>

<h3 class="posts-item-note" aria-label="Recent Posts"><span style='font-size:25px;'>&#9889;</span>Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="/yeieje/{{ post.url }}">{{ post.title }}</a>
  </h4>
</article>

{%- endfor -%}
